<div id="{{id}}" class="panel panel-default panel-virtusize">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{title}}
            <a href="#" class="close" data-toggle="panel" data-target="#{{id}}">&times;</a>
        </h3>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Button Selector</th>
                    <th>Open Tooltip</th>
                    <th>Toggle Style</th>
                </tr>
            </thead>
            <tbody>
                {{#each widgets}}
                <tr>
                    <td>{{productId}}</td>
                    <td>{{buttonSelector}}</td>
                    <td>
                        {{#if validProduct}}
                            <button class="btn btn-xs btn-primary" data-action="open-tooltip" data-target="{{productId}}">Open Tooltip</button>
                        {{/if}}
                    </td>
                    <td>
                        {{#if validProduct}}
                            <button class="btn btn-xs btn-primary" data-action="toggle-tooltip-style" data-target="{{productId}}">Toggle Style</button>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

