<div id="{{id}}" class="panel panel-default panel-virtusize">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{title}}
            <a href="#" class="close" data-toggle="panel" data-target="#{{id}}">&times;</a>
        </h3>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h4>Virtusize</h4>
                    <dl class="dl-horizontal">
                        <dt>API Key</dt>
                        <dd>{{apiKey}}</dd>
                        <dt>BID</dt>
                        <dd>{{bid}}</dd>
                        <dt>Snippet Version</dt>
                        <dd>{{snippetVersion}}</dd>
                        <dt>Integration Version</dt>
                        <dd>{{integrationVersion}}</dd>
                        <dt>Number of Widgets</dt>
                        <dd>{{numberOfWidgets}}</dd>
                        <dt>Number of Orders</dt>
                        <dd>{{numberOfOrders}}</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h4>Environment</h4>
                    <dl class="dl-horizontal">
                        <dt>URL</dt>
                        <dd><a href="{{location}}">{{location}}</a></dd>
                        <dt>jQuery Version</dt>
                        <dd>{{jQueryVersion}}</dd>
                        <dt>Is Modern Browser</dt>
                        <dd>{{isModernBrowser}}</dd>
                        <dt>Cookies Disabled</dt>
                        <dd>{{cookiesDisabled}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

